<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.ProjectSetEditor"
            default="true"
            icon="icons/psffile.gif"
            extensions="psf"
            class="com.csc.dip.projectset.ui.ProjectSetEditor"
            id="com.csc.dip.projectset.ui.ProjectSetEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.ProjectSetEditor"
            default="true"
            icon="icons/pplfile.gif"
            extensions="ppl"
            launcher="com.csc.dip.projectset.ui.PplEditorLauncher"
            id="com.csc.dip.projectset.ui.PplEditorLauncher">
      </editor>
   </extension>
   <extension
         id="newwizards"
         name="%newwizard.ProjectSetNewWizards"
         point="org.eclipse.ui.newWizards">
      <category
            name="%newwizard.ProjectSetCategory"
            id="ProjectSetCategory">
      </category>
      <wizard
            name="%newwizard.NewProjectSetWizard"
            icon="icons/psffile.gif"
            category="ProjectSetCategory"
            class="com.csc.dip.projectset.ui.NewProjectSetWizard"
            project="false"
            id="com.csc.dip.projectset.ui.NewProjectSetWizard">
         <description>
            %newwizard.ProjectSetDescription
         </description>
      </wizard>
      <wizard
            name="%newwizard.NewProjectSetProjectWizard"
            icon="icons/psfnature.gif"
            category="ProjectSetCategory"
            class="com.csc.dip.projectset.ui.NewProjectSetProjectWizard"
            project="true"
            id="com.csc.dip.projectset.ui.NewProjectSetProjectWizard">
         <description>
            %newwizard.ProjectSetProjectDescription
         </description>
      </wizard>
   </extension>
     <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.psfc"
            id="com.csc.dip.projectset.ProjectSetCollectionContribution">
         <action
               label="%menu.LoadReplaceProjects"
               class="com.csc.dip.projectset.ui.AddProjectSetCollectionToWorkspaceAction"
               menubarPath="group1"
               enablesFor="*"
               id="com.csc.dip.projectset.ui.AddProjectSetCollectionToWorkspaceAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.psf"
            id="com.csc.dip.projectset.ProjectSetContribution">
         <action
               label="%menu.LoadReplaceProjectsRecursive"
               class="com.csc.dip.projectset.ui.AddProjectSetRecursiveToWorkspaceAction"
               menubarPath="group1"
               enablesFor="*"
               id="com.csc.dip.projectset.ui.AddProjectSetRecursiveToWorkspaceAction">
         </action>
         <action
               label="%menu.LoadReplaceProjects"
               class="com.csc.dip.projectset.ui.AddProjectSetToWorkspaceAction"
               menubarPath="group1"
               enablesFor="*"
               id="com.csc.dip.projectset.ui.AddProjectSetToWorkspaceAction">
         </action>
         <action
               label="%menu.CreateWorkingSet"
               class="com.csc.dip.projectset.ui.CreateWorkingSetAction"
               menubarPath="group1"
               enablesFor="*"
               id="com.csc.dip.projectset.ui.CreateWorkingSetAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="com.csc.dip.projectset.ProjectSetProjectContribution">
         <visibility>
			<objectState
				name="projectNature"
				value="com.csc.dip.projectset.ProjectSetNature">
			</objectState>
         </visibility>
         <action
               label="%menu.LoadReplaceProjectsRecursive"
               class="com.csc.dip.projectset.ui.AddProjectSetRecursiveToWorkspaceAction"
               menubarPath="group1"
               enablesFor="*"
               id="com.csc.dip.projectset.ui.AddProjectSetRecursiveToWorkspaceActionForPsProject">
         </action>
         <action
               label="%menu.LoadReplaceProjects"
               class="com.csc.dip.projectset.ui.AddProjectSetToWorkspaceAction"
               menubarPath="group1"
               enablesFor="*"
               id="com.csc.dip.projectset.ui.AddProjectSetToWorkspaceActionForPsProject">
         </action>
         <action
               label="%menu.CreateWorkingSet"
               class="com.csc.dip.projectset.ui.CreateWorkingSetAction"
               menubarPath="group1"
               enablesFor="*"
               id="com.csc.dip.projectset.ui.CreateWorkingSetAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/psfnature.gif"
            natureId="com.csc.dip.projectset.ProjectSetNature"
            id="com.csc.dip.projectset.ProjectSetNatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preferencePage.ProjectSet"
            class="com.csc.dip.projectset.ui.ProjectSetPreferencePage"
            id="com.csc.dip.projectset.ui.ProjectSetPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preferencePage.ProjectSetEditor"
            category="com.csc.dip.projectset.ui.ProjectSetPreferencePage"
            class="com.csc.dip.projectset.ui.ProjectSetEditorPreferencePage"
            id="com.csc.dip.projectset.ui.ProjectSetEditorPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            markerType="com.csc.dip.projectset.PsfNotLoadedMarker"
            class="com.csc.dip.projectset.ui.resolution.NotLoadedMarkerResolver">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            location="BOTTOM_LEFT"
            label="%decorator.ProjectSetDecorator"
            state="true"
            class="com.csc.dip.projectset.ui.ProjectSetLabelDecorator"
            id="com.csc.dip.projectset.ui.ProjectSetLabelDecorator">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
         <description>
            %decorator.ShowConflictsAndErrorsInProjectSetProjects
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.csc.dip.projectset.ui.ProjectSetUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%propertyPage.ProjectSetProject"
            class="com.csc.dip.projectset.ui.ProjectSetProjectPropertyPage"
            id="com.csc.dip.projectset.ui.ProjectSetProjectPropertyPage">
         <filter
               name="nature"
               value="com.csc.dip.projectset.ProjectSetNature">
         </filter>
      </page>
   </extension>
   <!--
   <extension
         point="org.eclipse.pde.core.source">
      <location
            path="src">
      </location>
   </extension>
   -->
</plugin>
