<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="projectReferenceAnalyser" name="Project Reference Analyser" schema="schema/projectReferenceAnalyser.exsd"/>

   <extension
         id="ProjectSetNature"
         name="%nature.ProjectSetNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.csc.dip.projectset.ProjectSetNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="ProjectSetBuilder"
         name="%builder.ProjectSetBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="com.csc.dip.projectset.ProjectSetBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="PsfMarker"
         name="%marker.ProjectSetProblem"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="message">
      </attribute>
   </extension>
   <extension
         id="PsfTagConflictMarker"
         name="%marker.ProjectSetTagConflict"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.csc.dip.projectset.PsfMarker">
      </super>
      <attribute
            name="message">
      </attribute>
   </extension>
   <extension
         id="PsfPathConflictMarker"
         name="%marker.ProjectSetPathConflict"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.csc.dip.projectset.PsfMarker">
      </super>
      <attribute
            name="message">
      </attribute>
   </extension>
   <extension
         id="PsfNotLoadedMarker"
         name="%marker.ProjectSetNotLoaded"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.csc.dip.projectset.PsfMarker">
      </super>
      <attribute
            name="message">
      </attribute>
   </extension>
   <extension
         id="PsfNotLoadedToPreferredMarker"
         name="%marker.ProjectSetNotLoadedToPreferred"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.csc.dip.projectset.PsfMarker">
      </super>
      <attribute
            name="message">
      </attribute>
   </extension>
   <extension
         id="PsfErrorMarker"
         name="%marker.ProjectSetError"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="com.csc.dip.projectset.PsfMarker">
      </super>
      <attribute
            name="message">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="psf">
      </fileTypes>
      <fileTypes
            type="text"
            extension="psproject">
      </fileTypes>
      <fileTypes
            type="text"
            extension="ppl">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.csc.dip.projectset.ProjectSetPreferenceInitializer">
      </initializer>
   </extension>
   <!--
   <extension
         point="org.eclipse.pde.core.source">
      <location
            path="src">
      </location>
   </extension>
   -->
</plugin>
